body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    display: flex;
}

.navImage {
    padding: 16px;
}

.navLinks { 
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 128px;
}

.navElement {
    margin: 16px;
    color: white;
    font-size: 24px;
}

.navElement:hover {
    cursor: pointer;
}

.welcomeText {
    padding: 0 64px;
}

.navbar {
    border-radius: 8px 0 0 8px;
}

.rightBox {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    max-height: 80%;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-top {
    height: 196px;
}

.answerOption:hover {
    cursor: pointer;
}